<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WebDbSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE22D4C31BE8B9710026CE49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE22D4D71BE8B9720026CE49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEEC433C1C434EA600C6573E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
